h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
p{
    font-size: large;
}
body{
    background-color: blanchedalmond;
}
#submit:hover{
    background-color: rosybrown;
}
