body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
    color: #854;
}
table{
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    height: 80px;
  }